@charset 'utf-8';
/*웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');

/*CSS초기화*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, em, img, q, small, strong,
sub, sup, dl, dt, dd, ol, ul, li,
form, fieldset, legend, label, input,
table, caption, tbody, tfoot, thead, tr,td, th,
header, section, article, aside, footer, hgroup, nav, time,
audio, video,figure, figcaption { margin: 0; padding: 0; border: 0; outline: 0;
                                  font-size: 100%; vertical-align: baseline; background: transparent; }
body {
    font-family: 'Montserrat', sans-serif; line-height: 1;}
article,aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
nav ul li { list-style: none;}

a {margin: 0; padding: 0; text-decoration: none;}
img { vertical-align: top;}
hr { display: block; height: 2px; border: 0; margin: 0; padding: 0;}
input, textarea { width: 100%; margin: 0; padding: 0; border: 0; border-bottom: 1px solid #757575; font-family: 'PT Serif', serif; font-size: 12px; vertical-align: top;}
button {border-radius: 0; }

input::placeholder, textarea::placeholder {color: #a7071f;}

/*
::-webkit-input-placeholder, ::-webkit-textarea-placeholder { color: #a7071f; }
input::placeholder, textarea::placeholder { color: #a7071f; }
::placeholder { color: #3f51b5; }*/
